* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 15PX;
}


/* utility */
.padding_top {
  padding-top: 30px;
}

.padding_bottom {
  padding-bottom: 30px;
}

.ms_bg_green {
  background-color: #00ba94;
}

.ms_divisore::before,
.ms_divisore::after {
  content: "\2015";
  font-size: 100px;
}

.ms_divisore.blue {
  color: #2c3e50;
}

.fa-star {
  font-size: 60px;
}
/* header */
.ms_head_top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
  width: 100%;
  height: 70px;
  background-color: #2c3e50;
  line-height: 70px;
}
.ms_nav.row {
  height: 70px;
}

.ms_nav_left,
.ms_nav_right {
  height: 100%;
}
.ms_nav_right a {
  text-decoration: none;
  color: white;
}

.ms_button_menu i {
  font-size: 20px;
  padding: 10px;
  border: 1px solid white;
  border-radius: 5px;
}

.ms_jumbo {
  margin-top: 70px;
}

.wrapper {
  width: 50%;
  margin: 0 auto;
}

.avatar {
  width: 50%;
}


/* portfolio */
.title {
  color:#2c3e50;
}

.content {
  position: relative;
  width: 100%;
  margin: 10px;
  border-radius: 10px;
  overflow: hidden;
}

.content > img {
  width: 100%;
}

.content:hover .layover {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #00ba9499
}

.layover i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 100px;
  display: none;
}

.layover:hover i {
  display: block;
}

/* contact*/
#contact input,
#contact textarea {
  width: 100%;
  padding: 20px 0;
  border: none;
  border-bottom: 1px solid grey;
}

a > span {
  margin-right: 5px;
}

.ms_button_font {
  color: white;
}

/* footer */
.footer_top {
  background-color: #1f456c;
}

.footer_text  i {
  width: 50px;
  border: 1px solid white;
  padding: 15px;
  border-radius: 50%;
  color: white;
}

.footer_text > p a {
  color: #71baf8;
}

.footer_bottom {
  background-color: #2c3e50;
}

@media screen and (max-width: 768px) {
  .ms_jumbo .wrapper {
    width: 100%;
  }

  h1 {
    font-size: 30px;
  }

  .ms_divisore::before,
  .ms_divisore::after {
    content: "\2015";
    font-size: 50px;
  }

  .fa-star {
    font-size: 30px;
  }

  .footer_text {
    padding: 15px;
  }

  .ms_jumbo h3 {
    font-size: 15px;
  }

}
